<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <%= link_to "TimeKeeper", projects_path %>
                </li>
                <li role="presentation" class="dropdown-header">Main</li>
                <li role="presentation" class="active"><a href="#notes" aria-controls="notes" role="tab" data-toggle="tab"><i class="fa fa-fw fa-list-ul"> Notes</a></li></i>
                <li role="presentation"><a href="#documents" aria-controls="documents" role="tab" data-toggle="tab"><i class="fa fa-fw fa-file"> Documents</a></li></i>
                <li role="presentation" class="dropdown-header">Settings</li>
                <li role="presentation"><a href="#invite" aria-controls="invite" role="tab" data-toggle="tab"><i class="fa fa-fw fa-user-plus"> Invite</a></li></i>
                <li role="presentation"><a href="#members" aria-controls="members" role="tab" data-toggle="tab"><i class="fa fa-fw fa-users"> Manage</a></li></i>
                <li role="presentation"><a href="#edit" aria-controls="edit" role="tab" data-toggle="tab"><i class="fa fa-fw fa-users"> Edit</a></li></i>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
<div id="page-content-wrapper">
  <div class="row">
    <div class="col-lg-12">
    <div class="page-header">
      <h1><%= @note.title %> <small>Dashboard Overview </small></h1>
      <p class="date"><%= time_ago_in_words(@note.created_at) %> ago</p>
    </div>
    </div>
  </div>
  <div class="row">
        <div class="tab-content">
          <!-- Start Notes tab -->
          <div role="tabpanel" class="tab-pane active" id="notes">
            <div class="col-md-12">
              <div id="note_show">
                <p class="title"><%= @note.title %></p>
                <p><%= simple_format(@note.content) %></p>
              </div>
            </div>
          </div>
            <div class="buttons">
             <%= link_to "Edit", edit_note_path(@note), :class => "button" %>
             <%= link_to "Delete", note_path(@note), method: :delete, data: {confirm: "Are you sure?"}, :class => "button" %>
            </div>
        </div>
          <!-- End Notes tab -->
</div>
